

    <footer class="text-center text-lg-start" >
        <div class="container d-flex justify-content-center py-5">
        <span class="m-4">Contacto: </span>

        <a class="m-4" href={{linkedin}}>
            <fa-icon [icon]=iconLkd>Linkedin</fa-icon>
        </a>
        <a  class="m-4" href={{github}} target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]=iconGit>GitHub</fa-icon>
        </a>
        </div>
        <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white" href="https://miWeb/">laurix</a>
          </div>
    </footer>


