<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="" class="nav-link" [ngClass]="checkRoute('/')?'active':'white'">Home</a></li>
      <li class="nav-item"><a routerLink="products" class="nav-link" [ngClass]="checkRoute('/products')?'active':'white'">Productos</a></li>
      <li class="nav-item"><a routerLink="categories" class="nav-link" [ngClass]="checkRoute('/categories')?'active':'white'" >Categorias</a></li>
     <!-- <li class="nav-item"><a routerLink="about" class="nav-link" [ngClass]="checkRoute('/about')?'active':'white'">About</a></li> -->
    </ul>
  </header>